{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Log in{% endblock %}

{% block content %}
<div class="content-section">
	<h1>Log In</h1>
	<hr>
	<form action="" method="post">{% csrf_token %}
		<input type="text" name="username" class="form-control" placeholder="Username"/><br>
		<input type="password" name="password" class="form-control" placeholder="Your password"><br>
		<input type="submit" value="Login" class="btn btn-outline-primary btn-sm"/>
	</form>
	<small class="text-muted mt-2 ml-2">
		<a href="{% url 'users:password-reset' %}">Forgot Password?</a>
	</small>
</div>
{% endblock %}