{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Rest Password{% endblock %}

{% block content %}
<div class="content-section">
	<h1>Reset Password</h1>
	<hr>
	<form action="{% url 'users:passsword-reset-done' %}" method="post">
		{% csrf_token %}
		{{ form|crispy }}
		<label for="email">Email</label><br>
		<input type="email" name="email" class="form-control"/><br>
		<input type="submit" value="Reset Password" class="btn btn-outline-primary btn-sm"/>
	</form>
</div>
{% endblock %}